<h2>Class Binding</h2>

<!-- <h3 [class]="myText1">Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore omnis doloribus ratione modi, et perferendis eum sapiente ad soluta nostrum quis blanditiis reiciendis? Porro, mollitia rem. Dolore quo expedita est!</h3> -->

<!-- <h3 [class.textColor]="isRequired">Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore omnis doloribus ratione modi, et perferendis eum sapiente ad soluta nostrum quis blanditiis reiciendis? Porro, mollitia rem. Dolore quo expedita est!</h3> -->
<!--
<h3 [class.textSize]="isRequired">Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore omnis doloribus ratione modi, et perferendis eum sapiente ad soluta nostrum quis blanditiis reiciendis? Porro, mollitia rem. Dolore quo expedita est!</h3> -->
<!--
<h3 [class]="myText2">
  Lorem ipsum dolor, sit amet consectetur adipisicing elit. Beatae sapiente libero quaerat, nobis mollitia vitae eos quae obcaecati natus dignissimos nulla laborum cupiditate accusantium itaque nisi placeat dolores nam harum?
</h3>
<h3 [class]="myText3">
  Lorem ipsum dolor, sit amet consectetur adipisicing elit. Beatae sapiente libero quaerat, nobis mollitia vitae eos quae obcaecati natus dignissimos nulla laborum cupiditate accusantium itaque nisi placeat dolores nam harum?
</h3> -->

<!-- <h3 [class]="myStyleGroup"> NOT CORRECT
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam doloribus assumenda consequatur atque beatae, delectus est ipsum vitae pariatur, iste exercitationem laudantium a incidunt earum ipsam natus facilis? Accusantium, nobis.
</h3> -->
<h3 [ngClass]="myStyleGroup"> <!-- CORRECT -->
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam doloribus assumenda consequatur atque beatae, delectus est ipsum vitae pariatur, iste exercitationem laudantium a incidunt earum ipsam natus facilis? Accusantium, nobis.
</h3>
