<h2>Style Binding</h2>

<!-- <h3 [style.color]="myColor">
  Lorem ipsum dolor, sit amet consectetur adipisicing elit. Libero, quae consequatur? Vitae totam eveniet, libero dolorum cum commodi deserunt accusamus temporibus porro facere tenetur rem quos molestias veritatis corporis. Quae!
</h3>

<h3 [style.color]="'green'">
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa optio laborum ullam. Ipsa, odit? Dolor tenetur placeat autem exercitationem aliquam maxime, quasi fugiat repellat omnis tempora sunt, blanditiis odit ut.
</h3>
<h3 [style.fontStyle]="'italic'">
  Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iste dolorem, saepe dignissimos ducimus neque optio nam repellat accusamus quos molestias debitis quis, earum reiciendis et rem aliquid nihil nobis quia?
</h3> -->
<!-- <h3 [style.fontSize]="required ? '30px' : '80px'">
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio, nobis laboriosam a ex, non debitis dignissimos nam labore aliquid beatae esse voluptate saepe minus id nihil amet corporis? Quam, quaerat?
</h3> -->
<h3 [ngStyle]="myStyleGroup">
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit perferendis quos placeat similique sunt ipsa ab, quas cum veniam velit iusto, soluta blanditiis. Architecto iusto excepturi ea ad, eos qui?
</h3>
