<h2>You are selected the course with ID: {{courseId}}</h2>
<button mat-raised-button color="primary" (click)="gotoPrevious()">Previous</button>
<button mat-raised-button color="warn" (click)="gotoNext()">Next</button>
<button mat-raised-button color="my-primary" (click)="gotoDetails()">goto Details</button>
<br>
<hr>

<button mat-raised-button color="warn" (click)="showDuration()">Duration</button>
<button mat-raised-button color="accent" (click)="showTutor()">Tutor</button>
<router-outlet></router-outlet>
